.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
}

.DashboardPage-t {
  font-size: 3rem;
  color: white;
  margin: 4%;
  font-family: "Anton", sans-serif;
}

.DashboardPage-s-t {
  color: rgb(45, 58, 140);
  font-style: italic;
}

.DashboardPage-o-l {
  -webkit-text-stroke: 0.1rem #2d3a8c;
}
