.Footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  font-size: 0.7rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.Footer-l {
  text-decoration: none;
}
