@import url("https://fonts.googleapis.com/css?family=Anton");

.LandingPage-bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.4)
    ),
    url(./images/LandingPageBG.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Title {
  font-size: 4.5rem;
  color: white;
  margin-top: 25%;
  font-family: "Anton", sans-serif;
}

.Title-s-t {
  color: rgb(45, 58, 140);
  font-style: italic;
}

.Title-o-l {
  -webkit-text-stroke: 0.01rem #2d3a8c;
}
