@import url("https://fonts.googleapis.com/css2?family=Raleway");

.Profile-f-n {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}

.Profile-f {
  font-family: "Raleway", sans-serif;
}

.Profile-t {
  color: #2d3a8c;
}

.user-card-full {
  overflow: hidden;
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top);
  background: linear-gradient(to right, #2d3a8c, #a7aed3);
}

.user-profile {
  padding: 3rem 0;
}

.card-block {
  padding: 1.25rem;
}

.Profile-pfp {
  border-radius: 50%;
  box-shadow: 0 0 0 1.2rem #2d3a8c, 0 0 0 2.4rem #a7aed3;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card .card-block p {
  line-height: 25px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}
